---
import MainLayout from "../layouts/MainLayout.astro";
import Becool from "../components/Becool.astro";
---
<MainLayout>
    <section style="background-color: #0A5E58">
    <h1 class="justify-self-center pt-10 text-white text-[64px] uppercase font-bold">HOW TO GUIDE</h1>
<section class="grid grid-cols-1 md:grid-cols-4 pt-20 px-30 gap-20">
    <div>
        <img src="/icons/phone.svg" alt="">
        <h3 class=" font-bold pt-6 text-light-green">TRIN 1</h3>
        <h2 class=" text-white text-2xl uppercase font-bold pt-6">Ryd op på din smartphone</h2>
        <p class=" text-white pt-6">Fjern alle programmer, som du ikke har brugt i et stykke tid, eller som du kun har brugt et par gange. Vær ærlig og modig! Slet alle de unødvendige, glemte, gamle apps og spil, som du har downloadet, men endnu ikke rigtig prøvet. Chancen er stor for, at du heller ikke på magisk vis begynder at bruge dem senere! De bruger energi, selv når de ikke er i brug, og kan optage hundredvis af megabytes ved månedlige opdateringer. 

            Husk at slette alle brugerkonti (inklusive e-mails) og tilhørende data, som du oprettede, da du var 15 år, og som du ikke har haft adgang til i et årti eller mere! Du vil gøre din telefon hurtigere og øge batteriets levetid. Det kan altid betale sig at have så få apps som nødvendigt.
            
            Gennemgå dine fotos og videoer. Ved at slette de unødvendige plus eventuelle dubletter kan du frigøre titusindvis af gigabyte værdifuld lagerplads. Se retningslinjerne for, hvordan du rydder op på din smartphone og tablet.</p>
    </div>

    <div>
        <img src="/icons/labtop.svg" alt="">
        <h3 class="font-bold pt-6 text-light-green">TRIN 2</h3>
        <h2 class=" text-white text-2xl uppercase font-bold pt-6">Ryd op på din computers harddisk</h2>
        <p class=" text-white pt-6">Ryd op på din computer, og slet filer, der er dubletter eller er blevet ubrugelige. Gå alle dine fotos igennem, og slet dubletter og uskarpe billeder. Tjek videofilerne, og slet dem, du har set, eller som er unødvendige. Arkiver de vigtige filer. Vær forberedt på at finde virkelig fantastiske ting på din computer! Se retningslinjerne for, hvordan du rydder op i din computer og dit drev.</p>
    </div>

    <div>
        <img src="/icons/email.svg" alt="">
        <h3 class="font-bold pt-6 text-light-green">TRIN 3</h3>
        <h2 class=" text-white text-2xl uppercase font-bold pt-6">Ryd op i din postkasse</h2>
        <p class=" text-white pt-6">Filtrer e-mails efter den ældste, og arkiver dem. Afmeld nyhedsbreve, som du ikke engang læser. Vælg lange samtaler, vælg den nyeste, og slet alt andet! Søg efter fælles navne, adresser og ord for at finde lignende e-mails, så du kan håndtere dem i flæng. Vær modig og klik på delete-knappen. Se retningslinjerne for, hvordan du rydder op i din postkasse!</p>
    </div>

    <div>
        <img src="/icons/talk.svg" alt="">
        <h3 class="font-bold pt-6 text-light-green">TRIN 4</h3>
        <h2 class=" text-white text-2xl uppercase font-bold pt-6">Lav nye aftaler</h2>
        <p class=" text-white pt-6">Brug flere samarbejdssteder i stedet for at sende e-mails. Stop med at sende 'ok' og 'tak' e-mails! Opbevar de vigtige filer på ét sted i skyen, så der ikke er behov for at have den samme fil på hver computer. Tænk først, før du tager backup. Lav mindre 'hurtigt indhold', og vær mere bevidst om dine videoer og fotos. Sørg for, at du kun tager backup af de filer, du får brug for, og kun af de fotos, du elsker. 

            Små ændringer i dine internetvaner, som f.eks. at slukke for video under et virtuelt møde, reducere kvaliteten af streamingtjenester, mindske spilletiden, begrænse tiden på de sociale medier og afmelde nyhedsbreve og e-mail-lister, kan reduc</p>
    </div>

</section>
<Becool></Becool>
</section>

</MainLayout>