---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import Becool from "../components/Becool.astro";
import Ressource from "../components/Ressource.astro";
import Footer from "../components/Footer.astro";


---

<MainLayout title="Titel">
	<article>
		<article>
			<!-- Hero -->
			<section>
				<div>
					<h1>Digital Cleanup Day</h1>
					<p>Lad os rydde op i vores digitale affald på <span>World Cleanup Day</span> og gøre vores del for miljøet!</p>
					<Button>Inviter en ven</Button>
					<Button>Registrer dit bidrag</Button>
				</div>
				<div>
					<img src="/illustrations/megaphone.svg" alt="">
					<p>
					Save the date <br>
					15. Marts 2025
					</p>
				</div>
				<img src="/illustrations/hero.svg" alt="">
			</section>
			
			<!-- Short About -->
			<section>
				
				<div>
					<img src="/illustrations/trash.svg" alt="">
					<div>
						<h2>Hvad er digitalt affald?</h2>
						<p>Den digitale verden ligner den fysiske verden, vi lever i. <br><br>
							Hver dag genererer vi en enorm mængde affald, når vi forbruger ting. 
							De data, vi producerer, bruger og gemmer på vores smartphones, 
							tablets, bærbare computere, pc'er og servere, er ufatteligt store. <br><br>
							Du er måske ikke klar over det, men internettets CO2-aftryk og de systemer, 
							der understøtter det, står i dag for ca. 3,7 % af den globale udledning af 
							drivhusgasser. Det svarer til den mængde CO2, der produceres globalt af 
							flyindustrien (før COVID). Inden for det næste årti viser undersøgelser, 
							at internetnetværket vil producere 20 % af verdens drivhusgasser.</p>
					</div>
				</div>
				
				<div>
					<img src="" alt="">
					<div>
						<h2>HVAD ER “DIGITAL CLEANUP DAY”?</h2>
						<p>Digital Cleanup Day er en dag dedikeret til at rydde op i vores digitale liv, 
							ligesom vi rydder op i vores fysiske miljø på World Cleanup Day. <br><br>
	
							Nu i sit femte år og organiseret af Let's Do It World har Digital 
							Cleanup Day til formål at øge bevidstheden om digital forurening 
							og opfordre både enkeltpersoner og virksomheder til at rydde op 
							og omstrukturere deres online tilstedeværelse.</p>
					</div>
				</div>
			</section>
			
			<!-- Hook -->
			<section>
				<div>
					<img src="" alt="">
					<h1>HJÆLP MED AT REDDE VERDENEN EN DIGITAL SLETNING AF GANGEN</h1>
				</div>
			</section>

			<!-- Problemet med digitalt affald... -->
			<section>
				<h2>
					<div>
						<img src="" alt="">
						<p></p>
					</div>
				</h2>
			</section>

			<!-- In numbers -->
			<section></section>

			<!-- form -->
			 <section></section>

		</article>
	</article>
</MainLayout>