---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import Becool from "../components/Becool.astro";
import Ressource from "../components/Ressource.astro";
import Footer from "../components/Footer.astro";


---
	 <ul>
  <li><a href="index.astro">Home</a></li>
  <li><a href="how.astro">News</a></li>
  <li><a href="ressourcesite.astro">Contact</a></li>
</ul> 
<MainLayout title="Titel">


	
</MainLayout>