---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import Becool from "../components/Becool.astro";
import Ressource from "../components/Ressource.astro";
import Footer from "../components/Footer.astro";
---

<MainLayout title="Titel">


	 <section style=" background-color: #0A5E58 ">

<h1 class="text-white text-2xl p-4 mr-4 ">Ressourcer og materialer</h1>

<<<<<<< HEAD
<div class=" place-content-center grid grid-cols-2 p-30 gap-10">
  <div class="ml-6 p-2">
    <Ressource>Test1</Ressource>
    <Ressource>Test 2</Ressource>
=======
<div class="grid grid-cols-2 p-4 gap-2">

  <div class=" w-60 p-2 grid">
    <Ressource></Ressource>
    <Ressource></Ressource>
>>>>>>> 5aa7de0b1fb90f6308cf728c23018a6c3d165f9c
    <Ressource></Ressource>
    <Ressource></Ressource>
    <Ressource></Ressource>
  </div>

  <div class="w-60 p-2 grid">
    <Ressource></Ressource>
    <Ressource></Ressource>
    <Ressource></Ressource>
    <Ressource></Ressource>
    <Ressource></Ressource>
  </div>
</div>



	</section>



	
</MainLayout>