---
import Button from "./Button.astro";
---
<section class="grid grid-cols-1 md:grid-cols-2 pt-30">
    <div class="order-2 md:order-none bg-white flex flex-col justify-center items-center h-full">
        <img class="px-20 py-20 max-w-110 max-h-110" src="/icons/greenphone.svg" alt="">
    </div>
    <div class="order-1 md:order-none flex flex-col justify-center bg-[#FFA760]">
        <h3 class="text-white text-2xl pt-20 pb-10 px-20">Vær cool – giv ikke global opvarmning næring med digitalt affald</h3>
        <h2 class="text-white text-4xl font-bold uppercase px-20">SKÆR NED PAA DIT CO2”-AFTRYK VED AT DELTAGE I DIGITAL CLEANUP DAY</h2>
        <div class="pb-20 pt-10 pl-20"><Button variant="tertiary">Del Resultat</Button></div>
    </div> 
</section>
