---
import Button from "./Button.astro";
---
<section class="grid grid-cols-2 h-80">
    <div class="bg-white">
        <img src="../greenphone.svg" alt="">
    </div>
<div style="background-color: #FFA760">
    <h3 class=" text-white">Vær cool – giv ikke global opvarmning næring med digitalt affald</h3>
    <h2 class=" text-white text-2xl uppercase">SKÆR NED PAA DIT CO2”-AFTRYK VED AT DELTAGE I DIGITAL CLEANUP DAY</h2>
    <Button>DEL RESULTAT</Button>
</div>
</section>