---
import Button from "./Button.astro";
---
<section class="md:hidden lg:hidden bg-dark-green h-10">
    <div class="flex">
        <div class="mt-8"><img src="icons/burger.png" alt="burger"></div>
    </div>
</section>