---
---
<div class="sm:grid-cols-1  p-5 pt-20 grid  gap-15 lg:grid-cols-4" style=" background-color: #0A5E58">

    <div class="pl-10 py-4">
            <a href="/"> <img src="icons/logo.png" alt="indexlink"></a>
        </div>

    <div class="grid sm:grid-cols-1 gap-4 whitespace-nowrap flex-shrink-0"> 
    <h4 class="text-white font-semibold p-1 mb-3">Let's Do It World NGO</h4> 
    <p class="p-1 text-white font-light ">Roosikrantsi 3 <br> TALLINN 10119, Estonia <br> Reg. code - 80562203 <br> linkdigital@idiw.or </p>
    </div>

    
    <div class="flex flex-wrap gap-4 whitespace-nowrap flex-shrink-0">
        <ul class="text-white font-semibold">
            <a href="/how"><li class="p-2  hover:text-accent-orange duration-200">How To</li></a>
            <a href="/ressourcesite"><li class="p-2  hover:text-accent-orange duration-200">Ressourcer</li></a>
            <a href="https://www.worldcleanupday.org/"><li class="p-2  hover:text-accent-orange duration-200">World Cleanup Day</li></a>
        </ul>
    </div>


    <div class="flex flex-nowrap gap-4 whitespace-nowrap flex-shrink-0 ">
        <a href="https://x.com/settings/download?mx=2"> <img  src="socials/twitter.svg" alt="x"></a>
        <a href="https://www.youtube.com/@digitalcleanupdayfrance"><img src="socials/youtube.svg" alt="youtube"></a>
        <a href="https://www.linkedin.com/company/digitalcleanupdayfrance/"><img src="socials/linkedin.svg" alt="linked"></a>
        <a href="https://www.instagram.com/worldcleanupday.global/reel/DGNqIHEM1aV/"><img src="socials/insta.svg" alt="insta"></a>
        <a href="https://www.facebook.com/worldcleanupday.global/videos/-%F0%9D%90%8B%F0%9D%90%9E%F0%9D%90%AD%F0%9D%90%AC-%F0%9D%90%A4%F0%9D%90%A2%F0%9D%90%9C%F0%9D%90%A4-%F0%9D%90%A8%F0%9D%90%9F%F0%9D%90%9F-%F0%9D%90%83%F0%9D%90%A2%F0%9D%90%A0%F0%9D%90%A2%F0%9D%90%AD%F0%9D%90%9A%F0%9D%90%A5-%F0%9D%90%82%F0%9D%90%A5%F0%9D%90%9E%F0%9D%90%9A%F0%9D%90%A7%F0%9D%90%AE%F0%9D%90%A9-%F0%9D%90%83%F0%9D%90%9A%F0%9D%90%B2-%F0%9D%9F%90%F0%9D%9F%8E%F0%9D%9F%90%F0%9D%9F%93-the-internet-is-invisible-but-its-footpr/1038173138145744/"><img src="socials/facebook.svg" alt="face"></a>
        <a href="https://www.tiktok.com/tag/digitalcleanupday"><img src="socials/tiktok.svg" alt="tiktok"></a>
    </div>
  
</div>
<div class="bg-dark-green p-8">
    <p class="text-center text-white">© All rigths Reserved | Digital Cleanup Day</p>
</div>

  
