---
---
<div class="footerbox">

    <div>  <img src="/public/icons/logo" alt="logofooter"> </div>
    <div>  </div>
    <div></div>
    <div></div>
  


<p>Footer - tilføj footerindhold</p>
</div>
  
