---
---
<div class="p-10 grid  gap-30 grid-cols-4" style=" background-color: #0A5E58">

    <div class="pl-10 py-4">
            <a href="/"> <img src="icons/logo.png" alt="indexlink"></a>
        </div>

    <div class="whitespace-nowrap"> 
    <h4 class="text-white font-semibold p-1 mb-3">Let's Do It World NGO</h4> 
    <p class="p-1 text-white font-light ">Roosikrantsi 3, TALLINN 10119, Estonia </p>
    <p class="p-1 text-white whitespace-nowrap font-light"> Reg. code - 80562203</p> 
    <p class="p-1 text-white whitespace-nowrap font-light">linkdigital@idiw.org</p>
    </div>

    <div class="whitespace-nowrap">
        <ul class="text-white font-semibold">
            <a href="/how"><li class="p-2">How To</li></a>
            <a href="/ressourcesite"><li class="p-2">Ressourcer</li></a>
            <a href="https://www.worldcleanupday.org/"><li class="p-2">World Cleanup Day</li></a>
        </ul>
    </div>


    <div class="flex flex-nowrap gap-4 whitespace-nowrap ">
        <a href="https://x.com/settings/download?mx=2"> <img src="icons/x.png" alt="x"></a>
        <a href="https://www.youtube.com/@digitalcleanupdayfrance"><img src="icons/youtube.png" alt="youtube"></a>
        <a href="https://www.linkedin.com/company/digitalcleanupdayfrance/"><img src="icons/linked.png" alt="linked"></a>
        <a href="https://www.instagram.com/worldcleanupday.global/reel/DGNqIHEM1aV/"><img src="icons/insta.png" alt="insta"></a>
        <a href="https://www.facebook.com/worldcleanupday.global/videos/-%F0%9D%90%8B%F0%9D%90%9E%F0%9D%90%AD%F0%9D%90%AC-%F0%9D%90%A4%F0%9D%90%A2%F0%9D%90%9C%F0%9D%90%A4-%F0%9D%90%A8%F0%9D%90%9F%F0%9D%90%9F-%F0%9D%90%83%F0%9D%90%A2%F0%9D%90%A0%F0%9D%90%A2%F0%9D%90%AD%F0%9D%90%9A%F0%9D%90%A5-%F0%9D%90%82%F0%9D%90%A5%F0%9D%90%9E%F0%9D%90%9A%F0%9D%90%A7%F0%9D%90%AE%F0%9D%90%A9-%F0%9D%90%83%F0%9D%90%9A%F0%9D%90%B2-%F0%9D%9F%90%F0%9D%9F%8E%F0%9D%9F%90%F0%9D%9F%93-the-internet-is-invisible-but-its-footpr/1038173138145744/"><img src="icons/face.png" alt="face"></a>
        <a href="https://www.tiktok.com/tag/digitalcleanupday"><img src="icons/tiktok.png" alt="tiktok"></a>
    </div>
  

</div>
  
