---
---
<div class="grid grid-cols-4" style=" background-color: #0A5E58">

    <div class="pl-20 py-4">
            <a href="/"> <img src="icons/logo.png" alt="indexlink"></a>
        </div>

    <div> 
    <h4>Let's Do It World NGO</h4> 
    <p>Roosikrantsi 3, TALLINN 10119, Estonia </p>
    <p> Reg. code - 80562203</p> 
    <p>linkdigital@idiw.org</p>
    </div>

    <div>
        <!-- <ul class="flex flex-nowrap gap-10">
                <li> <Link href="/how">How To</Link></li>
                <li> <Link href="/ressourcesite">Resources</Link></li>
                <li> <Link href="https://www.worldcleanupday.org/">World Clean Up Day</Link></li>
            </ul> -->
    </div>


    <div></div>
  


<p>Footer - tilføj footerindhold</p>
</div>
  
