---
---
<header>
    <section>
        <div>
            <img src="../logo.png" alt="">
        </div>
     <div>
        <nav>
            <ul>
                <li> <a href="/how">How To</a></li>
                <li> <a href="/ressourcesite">Resources</a></li>
                <li> <a href="">World Clean Up Day</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <button>Registrer dit bidrag</button>
    </div>
    </section>
</header>
