---
---
<header class="" style="background-color: #0A5E58">
    <section class="grid grid-cols-2">
        <div class="pl-20 py-4">
            <img src="icons/logo.png" alt="">
        </div>
     <div class="pt-20">
        <nav class="flex flex-nowrap gap-10">
            <ul class="flex flex-nowrap gap-10">
                <li> <a href="/how">How To</a></li>
                <li> <a href="/ressourcesite">Resources</a></li>
                <li> <a href="">World Clean Up Day</a></li>
            </ul>
             <button class="">Registrer dit bidrag</button>
        </nav>
       
    </div>
    </section>
</header>
