---
import Link from "./Link.astro"; 
import Button from "./Button.astro";

---
<header class="" style="background-color: #0A5E58">
    <section class="flex flex-nowrap justify-between">
        <div class="pl-20 py-4">
            <a href="/index"> <img src="icons/logo.png" alt="indexlink"></a>
        </div>
     <div class="pt-20">
        <nav class="flex flex-nowrap gap-10">
            <ul class="flex flex-nowrap gap-10">
                <li> <Link href="/how">How To</Link></li>
                <li> <Link href="/ressourcesite">Resources</Link></li>
                <li> <Link href="https://www.worldcleanupday.org/">World Clean Up Day</Link></li>
            </ul>
            <div class="">
            <Button>Registrer dit bidrag</Button></div> 
        </nav>
       
    </div>
    </section>
</header>
