---
// Henter parametrene fra Astro.props
const { href="#", target="_self", variant= "primary", size = "medium"} = Astro.props; 

---
<a class="font-bold text-xl text-white hover:text-orange-400 duration-200" href={href} target={target}><slot/></a> 