---
// Henter parametrene fra Astro.props
const { href="#", target="_self", variant= "primary", size = "medium"} = Astro.props; 

//Definer den styling (Tailwind classes, der gør sig gældende for alle links

const linkStyling = "m-10  bold px-8 py-2 my-4 cursor-pointer duration-200"; 

 
//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter 

const variantClasses = {

"textlink": "text-teal-400 mx-0",

"primary": "text-white bg-teal-400 hover:bg-teal-700 hover:text-white hover:scale-110",

"secondary": "border-2 border-teal-400 text-teal-500 hover:border-0 hover:bg-teal-700 hover:scale-110 hover:text-white",

};

 
//Definer den styling (Tailwind classes), der gør sig gældende for de forskelligeog størrelser.

const sizeClasses = {

"large": "text-2xl",

"medium": "text-base",

"small": "text-xs"

};
---
<a class="font-bold text-xl text-white" href={href} target={target}><slot /></a>