---
---


<a href="https://www.digitalcleanupday.org/home/resources-and-materials" class="">
<!-- <div class=" content-nowrap text-base font-bold my-8 max-w-450 grid grid-cols-2 gap-6 bg-light-green p-4 rounded-lg" > -->
<div class="text-base font-bold my-8 max-w-450 flex justify-between text-dark-blue bg-light-green p-[20px] rounded-lg hover:bg-medium-green hover:text-white duration-300" >
    <div><p class="whitespace-nowrap "> <slot/> </p></div>
    <!-- <div><img class="w-5 stroke-black-100 " src="/icons/arrow.svg" alt="arrow"></div> -->
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
      </svg>
      
</div>
</a>