---

---

<div class=" place-content-evenly my-8 w-70 grid grid-cols-2 gap-6 bg-cyan-500 p-4 rounded-full" >
    <div><p >Text</p></div>
    <div ><img class=" ml-22 w-5 stroke-black-100 " src="/icons/arrow.svg" alt="arrow"></div>
</div>