---
---


<div class=" content-nowrap text-xs my-8 w-120 grid grid-cols-2 gap-6 bg-cyan-500 p-4 rounded-full" >
    <div><p class="whitespace-nowrap"> <slot/> </p></div>
    <div ><img class=" ml-45 w-5 stroke-black-100 " src="/icons/arrow.svg" alt="arrow"></div>
</div>