---
---


<a href="https://www.digitalcleanupday.org/home/resources-and-materials"><div class=" content-nowrap text-xs my-8 w-100 grid grid-cols-2 gap-6 bg-light-green p-4 rounded-full" >
    <div><p class="whitespace-nowrap text-dark-blue"> <slot/> </p></div>
    <div ><img class=" ml-38 w-5 stroke-black-100 " src="/icons/arrow.svg" alt="arrow"></div>
</div>
</a>